In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("wine.csv")
dataset

,Wine,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

## The above dataset is a multi class problem as y (Wine) has 3 possible classes (1,2,3).

In [3]:
y = dataset["Wine"]
y

0      1
1      1
2      1
3      1
4      1
      ..
173    3
174    3
175    3
176    3
177    3
Name: Wine, Length: 178, dtype: int64

## Based on the composition of every feature the model predicts which class of wine will be the output

In [4]:
import seaborn as sns

## In multiclass problem, the prediction will not be done as single value , there will be a probability of every class, so whose probablity is more we can choose that class.

## In multiclass, y will be multiple not a single value. (since it is a categorical variable)

In [5]:
y = pd.get_dummies(dataset["Wine"],dtype=int)
y

     1  2  3
0    1  0  0
1    1  0  0
2    1  0  0
3    1  0  0
4    1  0  0
..  .. .. ..
173  0  0  1
174  0  0  1
175  0  0  1
176  0  0  1
177  0  0  1

[178 rows x 3 columns]

In [6]:
dataset.columns

Index(['Wine', 'Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline'],
      dtype='object')

In [7]:
x = dataset[['Alcohol', 'Malic.acid', 'Ash', 'Acl', 'Mg', 'Phenols',
       'Flavanoids', 'Nonflavanoid.phenols', 'Proanth', 'Color.int', 'Hue',
       'OD', 'Proline']]
x

,Alcohol,Malic.acid,Ash,Acl,Mg,Phenols,Flavanoids,Nonflavanoid.phenols,Proanth,Color.int,Hue,OD,Proline
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

## There are no categorical variable in x

In [8]:
from keras.layers import Dense

2023-07-06 20:35:20.439201: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [9]:
from keras.models import Sequential

In [10]:
brain = Sequential()

In [11]:
brain.get_config()

{'name': 'sequential', 'layers': []}

In [12]:
# adding layer 1
brain.add(
    Dense(
        units=5,
        input_dim=13,
        activation = 'relu',
        bias_initializer='zeros',
        kernel_initializer='zeros'
    )
)

In [13]:
brain.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 70

=================================================================
Total params: 70
Trainable params: 70
Non-trainable params: 0
_________________________________________________________________

In [14]:
# adding layer 2
brain.add(
    Dense(
        units=5,
        activation = 'relu',
        bias_initializer='zeros',
        kernel_initializer='zeros'
    )
)

In [15]:
brain.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 70

 dense_1 (Dense)             (None, 5)                 30

=================================================================
Total params: 100
Trainable params: 100
Non-trainable params: 0
_________________________________________________________________

In [16]:
# adding output layer 3
# since there are 3 y's so we want 3 outputs thats why we are using 3 neurons in the output layer
brain.add(
    Dense(
        units=3,
        activation = 'softmax',
        bias_initializer='zeros',
        kernel_initializer='zeros'
    )
)

In [17]:
brain.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 70

 dense_1 (Dense)             (None, 5)                 30

 dense_2 (Dense)             (None, 3)                 18

=================================================================
Total params: 118
Trainable params: 118
Non-trainable params: 0
_________________________________________________________________

In [18]:
brain.compile(loss='categorical_crossentropy')

In [19]:
brain.fit(x,y,epochs=20)

Epoch 1/20
6/6 [==============================] - 1s 5ms/step - loss: 1.0984
Epoch 2/20
6/6 [==============================] - 0s 7ms/step - loss: 1.0976
Epoch 3/20
6/6 [==============================] - 0s 9ms/step - loss: 1.0970
Epoch 4/20
6/6 [==============================] - 0s 7ms/step - loss: 1.0966
Epoch 5/20
6/6 [==============================] - 0s 7ms/step - loss: 1.0962
Epoch 6/20
6/6 [==============================] - 0s 5ms/step - loss: 1.0958
Epoch 7/20
6/6 [==============================] - 0s 4ms/step - loss: 1.0955
Epoch 8/20
6/6 [==============================] - 0s 6ms/step - loss: 1.0951
Epoch 9/20
6/6 [==============================] - 0s 4ms/step - loss: 1.0947
Epoch 10/20
6/6 [==============================] - 0s 4ms/step - loss: 1.0943
Epoch 11/20
6/6 [==============================] - 0s 3ms/step - loss: 1.0940
Epoch 12/20
6/6 [==============================] - 0s 5ms/step - loss: 1.0937
Epoch 13/20
6/6 [==============================] - 0s 3ms/step - loss: 1.0933
Epoch 14/20
6/6 [==============================] - 0s 4ms/step - loss: 1.0930
Epoch 15/20
6/6 [==============================] - 0s 3ms/step - loss: 1.0927
Epoch 16/20
6/6 [==============================] - 0s 3ms/step - loss: 1.0925
Epoch 17/20
6/6 [==============================] - 0s 3ms/step - loss: 1.0923
Epoch 18/20
6/6 [==============================] - 0s 5ms/step - loss: 1.0920
Epoch 19/20
6/6 [==============================] - 0s 4ms/step - loss: 1.0918
Epoch 20/20
6/6 [==============================] - 0s 5ms/step - loss: 1.0915

In [20]:
brain.get_weights()

[array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]], dtype=float32),
 array([-0.00346082,  0.06555543, -0.0720117 ], dtype=float32)]